<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		div.sigh{
			position: fixed;
			top: 50px;
			right: 14%;
			width: 36px;
			height: 36px;
			border: 1px solid #ccc;
			box-shadow: 0px 0px 3px 1px #aaa;
			box-sizing: border-box;
			padding: 2px 0px;
			cursor: pointer;
			border-radius: 3px;
			z-index: 2;
		}
		ul{
			padding-top: 10px;
			width: 100px;
			position: absolute;
			left: -11px;
			top: 37px;
			line-height: 30px;
			border: 1px solid #ccc;
			border-top: none;
			background: #fff;
			display: none;
		}
		li{
			padding-left: 10px;
		}
		li:hover{
			cursor: pointer;
			background: #ccc;
		}
		hr{
			height: 4px;
			background: #333;
			margin: 3px 0px;
			border-radius: 25px;
		}
		div.content{
			position: fixed;
			top: 70px;
			width: 600px;
			left: 50%;
			margin-left: -300px;
			border: 1px solid #ccc;
			box-shadow: 0px 0px 4px 1px #ccc;
			border-radius: 3px;
			padding-bottom: 58px;
		}
		button{
			position: absolute;
			right: 20px;
			bottom: 10px;
			color: #fff;
			background: #0da020bd;
			border: 1px solid #fff;
			border-radius: 3px;
			font-size: 20px;
			width: 60px;
			text-align: center;
			cursor: pointer;
		}
		aside.left{
			float: left;
			color: #333;
			font-size: 15px;
			font-weight: 400;
			text-align: center;
			width: 150px;
			padding: 15px 0px;
		}
		form{
			box-sizing: border-box;
			width: 450px;
			float: right;
			padding-left: 10px;
		}
		form span,
		input{
			display: block;
			margin: 10px 0px;
		}
		input{
			width: 400px;
			line-height: 32px;
			border-radius: 3px;
			padding-left: 5px;
			border: 1px solid #ccc;
		}
		textarea{
			width: 400px;
			text-indent: 2em;
			border: 1px solid #ccc;
			border-radius: 3px;
			resize: none;
			height: 300px;
			padding-top: 10px;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<section>
		<div class="sigh">
			<hr>
			<hr>
			<hr>
			<ul>
				<li class="pers">个人主页</li>
				<li class="send">发布文章</li>
				<li class="exit">退出</li>
			</ul>
		</div>
		<div class="content">
			<aside class="left"><%= user %></aside>
			<form action="#">
				<span>标题</span>
				<input type="text">
				<span>内容</span>
				<textarea name="txt" id="txt"></textarea>
			</form>
			<button>发布</button>
		</div>
	</section>
	<script src="../public/js/jquery-1.11.1.js"></script>
	<script>
		$('button').click(function(event) {
				if($('input').val()!=''&&$('textarea').val()!=''){
					$.ajax({
						url: 'http://localhost:8080/article',
						type: 'post',
						dataType: 'json',
						data: {title: $('input').val(),content:$('textarea').val()},
						success:function(res){
							if(res.num==1){
								location.href="http://localhost:8080/gocomment";
							}
							
						}
					})
	
				}
				if($('input').val()==''){
					alert('标题不能为空')
				}
				if($('textarea').val()==''){
					alert('内容不能为空')
				}
		});
		$('div.sigh').click(function(event) {
			$(this).children('ul').slideToggle();
		});
		$('li.exit').click(function(event) {
			$.ajax({
				url: 'http://localhost:8080/exit',
				type: 'get',
				dataType: 'json',
				data: {param1: $('aside.left').html()},
				success:function(res){
					if(res.num==1){
						location.href="http://localhost:8080/"
					}else{
						console.log('退出有误');
					}
				}
			})
			
			
		});
		$('li.send').click(function(event) {
			location.href="http://localhost:8080/gosend"
		});
		$('li.pers').click(function(event) {
			location.href="http://localhost:8080/gopersonal"
		});
	</script>
</body>
</html>